################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/UserValidation/v16/.suo
/.vs/VSWorkspaceState.json
/UserValidation_first/.vs/UserValidation_first/config/applicationhost.config
/UserValidation_first/.vs/UserValidation_first/DesignTimeBuild/.dtbcache
/UserValidation_first/.vs/UserValidation_first/v16/Server/sqlite3/db.lock
/UserValidation_first/.vs/UserValidation_first/v16/Server/sqlite3/storage.ide
/UserValidation_first/.vs/UserValidation_first/v16/Server/sqlite3/storage.ide-shm
/UserValidation_first/.vs/UserValidation_first/v16/Server/sqlite3/storage.ide-wal
/UserValidation_first/.vs/UserValidation_first/v16/.suo
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.deps.json
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.dll
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.pdb
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.runtimeconfig.dev.json
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.runtimeconfig.json
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.Views.dll
/UserValidation_first/UserValidation_first/bin/Debug/netcoreapp2.2/UserValidation_first.Views.pdb
