body {
    background-color: #DDA0DD;
}

#topnav {
    background-color: #ce6ece;
    border: dotted;
    margin-top: 0px;
    vertical-align: top;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    position: fixed;
    z-index: 100;
}

#content {
    position: relative;
    margin-top: 3em;
}

.nomobile {
    display: none;
}
